@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{ scroll-behavior: smooth;}
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*HEADER*/
#main-container{
    width: 100%;
}
header{ 
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;

}
#burger{
    display: none    ;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 25px;
    top: 29px;
}
#burger.active{
    transform: rotate(90deg);
}
.logo{
    width: 105px;
}
#menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu > a{
    display: block;
    font-size: 12px;
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 35px;
    cursor: pointer;

}
#menu > a:hover{
    font-weight: 500;
    transform: scale(1.05);

}

#contactBTN{
    font-weight: 600;
    background-color: #F1BC00;
    padding: 5px 14px;
    border-radius: 50px;
    width: 80px;
    text-align: center;
  
}

/*HEADER BANNER*/
#header-banner{
    background-image: url(Img/background-web.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 471px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#header-banner > p{
    font-weight: 300;
    font-size:20px;
    margin: 0px;
}
#header-banner > h1{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 0.5;

}

#cotizacionBtn{
    font-size: 16px;
    text-decoration: none;
    background-color: #F1BC00;
    display: block;
    padding: 8px 27px;
    color: #000;
    font-weight: 500;
    margin-top: 15px;
    border-radius: 2px;
        
}
#cotizacionBtn:hover{
    opacity: 0.9;
}

/*SERVICIOS*/
#servicios{
    /*width: 75.10%;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
#servicios > h2{
    display: none;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
}
.card{
    height: 182px;
    background-color: #fff;
    border: 0.5px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.servicios-item{
    width: 300px;
    /* max-width: 360px; */
    margin-top: -50px;
    
}
.servicios-item:nth-child(2n){
    margin-left: 54px;
    margin-right: 54px;
}
.servicios-item > span {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    max-width: 190px;
}
.servicios-item > img{
 width: 68px;
 height: 68px;   
}


#soluciones-section{
    width: 1073px;
    margin: 0 auto;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-top: 113px;
    margin-bottom: 65px ;
}
#solucionesMobile{
    font-weight: 600;
    font-size: 20px;
    width: 252px;
    text-align: center;
    margin: 0 auto;
    display: none;
    margin-bottom: 27px;
    border-top: 0.5px solid rgba(0,0,0,0.3);
    padding-top: 50px;
}
#soluciones-section > img{
    width: 443px;
}
#soluciones-texto{
    width:584px;
    margin-left: 46px;
}
#soluciones-texto > h3{
    font-size: 30px;
    font-weight: 500;
    width: 100%;
}
#soluciones-texto > p{
    font-size: 20px;
    width: 100%;
}

/*NUESTROS VALORES*/
#valores-section{
    width: 100%;
    background-color: rgba(53,165,167,0.66);
    padding: 55px 0px 110px ;
}
#valores-section > p{
    font-size: 30px;
    margin: 0 auto;
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
}

#valores-items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.valor-item{
    width: 250px;
    height: 325px;
}
.valor-item:nth-child(2n){
    margin: 0px 78.5px;
    padding-top: 25px;
    box-sizing: border-box;
}
.valor-item > img{
    width: 60px;
}

.valor-item > p{
    font-size: 15;
    text-align: center;
}
.valor-item > span{
    font-size: 20px;
    font-weight: 500;
    width: 145px;
    text-align: center;
}

/*UBICACIÓN*/
#miniMapa{
    display: none;
    width: 100%;
    height: 100%;
}

#ubicacion-section{
    width: 100%;
    position: relative;
  
}
#ubicacion-section > iframe{
     width: 100%;
    max-height: 417px; 
}
#ubicacion-text{
    position: absolute ;
    top: 45px;
    right: 200px;
    width: 358px;
    height: 328px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ubicacion-text > h4{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    
}
#ubicacion-text > p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

/*CONTACTO */
#formulario-contacto{
    width: 380px;
    /* height: 310px; */
    display: flex;
    background-color : rgba(53,165,167,0.50);
    border-radius: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 50px 19.98px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#formulario-contacto.enviado{
    display: none;
}

/*Mensaje de formulario*/
#mensajeFormulario{
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mensajeFormulario.noactive{
    display: none;
}
#mensajeFormulario > p{
    text-align: center;
}

#items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-item{
    width: 100%;
}
.form-item:nth-child(2){
    margin: 10px 0px;
}



.form-item > label {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    width: 100%;
    display: block;
    
}
input,textarea{
    font-family: "Poppins", sans-serif;

}


#textareaInput > textarea{

    height: 80px;
    resize: none;
    padding: 5px;
}


.form-input{
    display: block;
    width: 100%;
    border: 0px;
    outline: none;
    height: 37px;
    border-radius: 5px;
    padding: 0 15px;
    box-sizing: border-box;

}


#contacto-section{
    width: 100%; 
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 43px;
    margin-bottom: 76px;
}
#contacto-texto {

    text-align: center;
    margin-right: 160px;
}
#contacto-texto > span{
    font-size: 25px;
    font-weight: 600;
}
#contacto-texto > p{
    font-size: 25px;
    font-weight: 400;
    
}

#submit-contacto{
    display: block;
    width: 118px;
    height: 37px;
    background-color: #35A5A7 ;
    color: #fff;
    text-decoration: none;
    font-size : 16px;
    font-weight: 600;
    border: none; 
    border-radius: 50px ;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin: 23px auto 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#submit-contacto:hover{
    opacity: 0.9;
}

.errorMessege{
    font-size: 14px;
    color: red;
    font-weight: 500;
    margin-top: 5px;
}
.errorMessege.active{
    display: block;
}

/*FOOTER*/

footer{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: start;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 73px;
}
#redes{
    text-align: center ;
}
.footer-info{
    width: 230px;
}
.footer-info > p{
    font-weight: 400;
}
.footer-label{
    font-weight: 600;
}
.footer-label:nth-child(2){
text-align: center !important;
}

#footer-redes-imgs > img{
    width: 38px;
    height: 38px;
    cursor: pointer;
}
#footer-redes-imgs > img:nth-child(2){
    margin: 0px 24px;
}